body,ul,div,li,a,img{
	padding: 0px;
	margin: 0px;
}
body{
	padding-top: 54px;
}
header{
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
.logo{
	float: left;
	width: 220px;
	height: 54px;
	background-color: #ccc;
}
.logo a{
	display: block;
}
.logo a img {
	width: 220px;
	height: 54px;
}
ul{
	float: left;
	width: 780px;
	list-style: none;
	background-color: #393838;
	
}
ul li{
	float: left;
	width: 84px;
	height: 54px;
}
ul li a{
	display: block;
	color: #ccc;
	text-decoration: none;
	height: 54px;
	line-height: 54px;
	text-align: center;
}
ul li a:hover{
	color: #fff;
	background-color: black;
}
.banner{
	margin: 10px auto;
	width: 1000px;
	height: 292px;
}
.banner a{
	display: block;
}
.banner a img{
	display: block;
	width: 1000px;
	height: 292px;
}
.left{
	width: 660px;
}
.leftbanner a img {
	display: block;
	width: 660px;
}































